@font-face {
	font-family: 'alternate_gothic_no2bt';
	src: url('../fonts/alternate_gothic_no2bt.eot');
	src: local('☺'),
	url('../fonts/alternate_gothic_no2bt.woff') format('woff'),
	url('../fonts/alternate_gothic_no2bt.ttf') format('truetype'),
	url('../fonts/alternate_gothic_no2bt.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}