@font-face {
  font-family: 'alternate_gothic_no2bt';
  src: url('../fonts/alternate_gothic_no2bt.eot');
  src: local('☺'), url('../fonts/alternate_gothic_no2bt.woff') format('woff'), url('../fonts/alternate_gothic_no2bt.ttf') format('truetype'), url('../fonts/alternate_gothic_no2bt.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

/* COLOR VARS */
/* FONTS VARS */
/* MIXINS */
/* GLOBALS */
html {
  font-size: 62.5%; }

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden; }

.clickable {
  cursor: pointer;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out; }

.clickable:hover {
  opacity: 0.5; }

/* WRAPPER */
#wrapper {
  height: 300%;
  position: relative;
  top: 0%;
  -webkit-transition: top 1s ease-in-out;
  -moz-transition: top 1s ease-in-out;
  transition: top 1s ease-in-out; }

.panel {
  height: 33.33333%; }
  .panel section {
    height: 100%;
    position: relative; }

.panel-a {
  background-color: #3C3C3C; }

.panel-b {
  background-color: #272727;
  background-image: url(../images/bg-pattern.jpg);
  background-repeat: repeat; }

.panel-c {
  background-color: #FFD600; }

/* LOGO */
#logo {
  padding: 30px 0 0;
  text-align: center; }

#logo img {
  max-width: 316px;
  width: auto;
  height: auto; }

#karmarama {
  font-family: 'alternate_gothic_no2bt', Helvetica, sans-serif;
  font-size: 68px;
  font-size: 6.8rem;
  text-transform: uppercase;
  letter-spacing: 0.65rem;
  color: #FFD600;
  margin: 0;
  padding: 0; }

/* VIDEO */
#video {
  position: relative; }

button.play {
  background: none;
  border: none;
  margin: 0 auto;
  display: block;
  width: 106px;
  height: 106px;
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-53px) translateY(-53px);
  -moz-transform: translateX(-53px) translateY(-53px);
  -ms-transform: translateX(-53px) translateY(-53px);
  -o-transform: translateX(-53px) translateY(-53px);
  transform: translateX(-53px) translateY(-53px); }

/* ARROW */
.arrow {
  background-image: url(../images/arrow.png);
  background-repeat: no-repeat;
  background-position: bottom;
  width: 134px;
  height: 70px;
  padding: 0;
  margin: 0 0 30px 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-67px);
  -moz-transform: translateX(-67px);
  -ms-transform: translateX(-67px);
  -o-transform: translateX(-67px);
  transform: translateX(-67px); }

.arrow p {
  font-size: 20px;
  font-size: 2rem;
  color: #efefef;
  text-transform: uppercase;
  font-family: 'alternate_gothic_no2bt', Helvetica, sans-serif; }

/* TIMELINE */
#timeline {
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 50%; }
  #timeline .point {
    position: relative;
    margin: 20px auto;
    display: block;
    height: 14px;
    width: 14px; }
  #timeline .point::before {
    position: absolute;
    left: 3px;
    top: 3px;
    content: "";
    height: 8px;
    width: 8px;
    background-color: #efefef;
    border-radius: 100%;
    opacity: 0.7; }
  #timeline .point.active::before, #timeline .point:hover::before {
    left: 0;
    top: 0;
    height: 14px;
    width: 14px;
    border: 1px solid #efefef;
    background: transparent; }
